* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Suez One", serif;
}

body {
  color: black;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  padding: 20px;
}

header,
form {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 2vh;
  font-size: 1.5rem;
  background: cornsilk;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: solid;
}

button {
  margin: 20px;
  padding: 2vh;
  font-size: 1.5rem;
  border: none;
  background: cornsilk;
  border-radius: 10px;
}

#priority-selector {
  padding: 2vh;
  margin: 0;
  font-size: 1.5rem;
  background: cornsilk;
  font-weight: bold;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: solid;
}

#view {
  font-size: 20px;
  font-weight: bold;
  display: inline-table;
  overflow: visible;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20%;
  right: 70%;
}

ul {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  margin: 0;
  padding: 0;
}

li {
  padding-right: 200px;
}

li:hover {
  background: rgb(243, 138, 138);
}

.dark-mode {
  background-color: black;
  color: white;
  left: 20px;
  top: 20px;
}
